.test{
    color: #39027ce7;
}

/*Селектор по классу*/

h1{
    color: rgb(31, 68, 132);
    font-family: 'Fuggles', cursive;
}
/*Селектор по типу элемента*/

#unic{
    font-size: larger;
    color: rgb(162, 117, 234);
}
/*Селектор по идентификатору*/

ul li {
    font-weight: 800;
    list-style-type: circle;
}
/*Селектор потомков*/

nav > ol {
    background-color: rgb(8, 157, 202);
    border-radius: 10px;
    color: aliceblue;
    width: 800px;
}

nav :hover{
    background-color: rgb(174, 217, 243);
    border-radius: 10px;
    width: 800px;
}

a {
    color: rgb(241, 201, 142);
}

a:hover{
    color: rgb(252, 228, 192);
}
/*Селектор псевдокласов*/

li:first-child {
    font-weight: bold;
    color: rgb(0, 113, 11);
}

h3+p{
font-weight: bold;  
color: rgb(207, 170, 170);
font-size: larger;
}

div {
    width: 100px;
    height: 100px;
    background-color: #39027ce7;
    color: azure;
    border-radius: 5px;
    text-align: center;
}

.kubic {
    width: 100px;
    height: 100px;
    background-color: rgb(250, 215, 255);
    color: aliceblue;
    border-radius: 5px;
    text-align: center;
}

.corzina {
    width: 250px;
    height: 250px;
    background-color: aliceblue;
    border-radius: 4%;
    margin-top: 4%;
    padding-top: 1%;
    padding-left:2%;
}
.contet-container {
    background-color: lightgray;
    border-radius: 2%;
    padding: 5% 1%;
    margin-top: 3%;
}

.section {
    width: 300px;
    height: 300px;
    border-radius: 5%;
    margin-top: 1%;
    border: solid 1px;
}
